/*=====================================
estilos generales
=====================================*/


/*Estilos generales que se utilizaran a lo largo de los modulos del proyecto*/


/*Fin sección Footer principal*/

.bodyPrincipal {
    background-color: rgb(233, 236, 238);
}

.container1 {
    height: 100vh;
}

.container2 {
    height: 100vh;
}

.P1 {
    padding-top: 7rem;
    margin-left: 15%;
    color: rgb(0, 0, 0);
    width: 70%;
    text-align: justify;
}

/*Inicio sección Navbar principal*/
.navbarPrincipal {
    width: 100%;
    position: fixed;
    z-index: 2;
}

.navbar {
    background: linear-gradient(45deg, #D2E0FB, #8b89fc);
    height: fit-content;
}

#sectionNavbar {
    border-radius: 0.4rem;
}

#sectionNavbar:hover {
    color: #fff;
    background: #5367b8 !important;
    border-color: #241f5f;
}

#botonCerrar {
    margin-top: -1px;
    background: none;
    border-color: none;
    margin-left: 0.5rem;
    border-radius: 0.4rem;
}

#botonCerrar:hover {
    color: #fff;
    background: #5367b8 !important;
    border-color: #241f5f;
}

.img-avatar-nav {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.perfil-usuario-avatar-nav {
    width: 60px;
    height: 60px;
    left: -0.3em;
    justify-content: center;
    border: 1px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: relative;
}

.nav-bell {
    margin-right: 20px;
    cursor: pointer;
}

.nav-bell i:hover {
    color: #ffffff;
}


.button-bell {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.788);
}

.notifications {
    position: fixed;
    z-index: 4;
    background-color: rgb(240, 242, 243);
    height: 97vh;
    width: 40%;
    right: -5px;
    margin-right: 8rem;
    margin-top: 1.4rem;
    border-radius: 10px;
}

.head-notifications {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: solid 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #0000009a;
}

.title-notifications {
    font-size: 1.9rem;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.726);
}

.body-notifications {
    max-height: 89vh;
    /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto;
    /* Esto agrega la barra de desplazamiento vertical */
    scrollbar-width: thin;
    /* Ajusta el ancho de la barra de desplazamiento */
    scrollbar-color: dark gray;
}


/* Estilos adicionales para la barra de desplazamiento, si es necesario */
.body-notifications::-webkit-scrollbar {
    width: 8px;
    /* Ajusta el ancho de la barra de desplazamiento para navegadores WebKit */
}

.body-notifications::-webkit-scrollbar-thumb {
    background-color: darkgray;
    /* Ajusta el color del "pulgar" de la barra de desplazamiento */
    border-radius: 1px;
}

.notificacion {
    background-color: none;
    height: 90px;
}

.notificacion label {
    text-align: justify;
    margin-left: 10px;
    margin-right: 30px;
}

.notificacion:hover {
    background-color: rgb(226, 231, 235);
}

.Nfiltro {
    display: none;
}

/*Fin sección Navbar principal*/


/*Inicio seccción botones*/
#botonDescargar {
    color: black;
    margin-top: -1px;
    background: none;
    border-color: none;
    margin-left: 0.5rem;
    border-radius: 0.4rem;
    width: 9rem;
    margin: auto;
}

#botonDescargar:hover {
    color: #fff;
    background: #91b2e4 !important;
    border-color: #241f5f;
}

.dropdownAyuda {
    margin-top: -1px;
    width: 9rem;
    margin: auto;
}

/*Fin seccción botones*/


/*Inicio sección de modulo de ayuda*/
.containerViewPdf {
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 4rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.view-pdf {
    width: 600px;
    height: 60vh;
}

/*Fin sección de modulo de ayuda*/


/*Pie de pagina...*/
.pie_de_pagina {
    width: 100%;
    background-color: #d3e1fc
        /* Optional color: #bdc5e9 */
        /* Optional color: #d6d3fc */
}

.pie_de_pagina .grupo-2 {
    padding: 15px 10px;
    text-align: center;
    color: #000000;
}

/*fin pie de pagina*/

.container {
    padding: 2rem;
}

.slider__wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
    /*   background-color: blue; */
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 1rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider img {
    flex: 1 0 100%;
    /* This will stretch the image*/
    scroll-snap-align: start;
    object-fit: cover;
    /* This will fix the stretch tho the image will be croppped a bit */
}

.slider__nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider__nav a {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    transition: opacity ease 0.25s;
}

.slider__nav a:hover {
    opacity: 1;
}

/*Inicio sección para la configuración responsive*/
@media (max-width: 750px) {
    #Name_nav {
        margin-top: -2.5rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    #sectionNavbar {
        margin: auto;
        text-align: center;
        width: 18%;
        border-color: #5d1f5f;
        margin-bottom: 10px;
    }

    #botonCerrar {
        margin: auto;
        position: relative;
        width: 25%;
        margin-bottom: 10px;
    }

    .perfil-usuario-avatar-nav {
        width: 90px;
        height: 90px;
        left: 0.5px;
        margin: auto;
        margin-bottom: 10px;
    }

    .containerViewPdf {
        margin: auto;
        width: 300px;
        padding-top: 1rem;
        padding-bottom: 4rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    .view-pdf {
        width: 100%;
        height: 60vh;
    }

    .nav-bell {
        text-align: center;
        margin-right: 0px;
        margin-bottom: 15px;
    }
}