<!-- Utilizamos las propiedades de flask "extends", para poder heredar las propiedades del archivo principal base 
que contiene los links principales del javaScripts y Css, para brindar los estilos a los demas modulos
-->
{%extends './base.html' %}

<!-- En esta sección personalizamos el titulo correspondiente a cada modulo en el que nos encontremos-->
{%block title%}Pagina principal.{%endblock%}

<!-- Utilizando las propiedades block, definiendo el la sección body, podemos insertar la estructura principal html, para 
poder personalizar y ahorrar lineas de codigo en los modulos
-->
{%block body%}

<!-- Inicio contenido principal del modulo "home"-->

<body class="bodyPrincipal">
    </div>
    <div class="container1">

        <p class="P1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem sit ipsam, nisi totam reiciendis
            corporis temporibus quisquam cumque saepe quasi dolore voluptas praesentium deserunt. Adipisci architecto id
            necessitatibus ratione eveniet.
            Nisi a voluptatem odit dolor repellendus perferendis dicta voluptates quos quasi doloremque! Voluptatum
            amet, excepturi autem reiciendis iste ut non architecto, rem dolore saepe esse recusandae? Quasi alias sint
            illo?
            Perspiciatis blanditiis sunt consequuntur sit in inventore dolorum tempora, itaque eligendi nihil saepe
            impedit quidem suscipit vero, porro harum vel quisquam earum delectus aliquam distinctio error? Corrupti
            dolorum est eos.
            Optio quam, harum autem dolor debitis pariatur! Adipisci nam voluptate corrupti iste earum rem voluptates,
            hic sequi facere ea cupiditate, minima optio, consectetur id! Inventore expedita tempora iusto velit
            quisquam?
            Eveniet iure unde id quas tempora, nemo rerum aspernatur dolores, quod pariatur magni, facilis maxime
            possimus blanditiis veritatis. Quod rem aut corrupti unde enim aliquid est autem reiciendis, veritatis
            itaque!
            Tenetur aliquid adipisci labore inventore debitis a ut. Laboriosam, architecto? Numquam possimus sunt eos
            molestiae debitis deleniti minus itaque veniam quas sit id officiis quos ex, dignissimos beatae fuga
            tempore!
            Velit a eaque assumenda excepturi at, exercitationem odit eveniet. Delectus, assumenda? Illo, doloremque
            sit? Voluptates eum nulla a maxime odit necessitatibus distinctio dolor deleniti amet, asperiores doloremque
            animi nam velit.
            Quos, facere cum ratione dolorum, consectetur odio veritatis blanditiis optio earum perferendis officia
            molestiae ducimus commodi laborum dolorem itaque harum ut, perspiciatis ipsam qui incidunt non minima nisi.
            Omnis, fuga.
            Qui recusandae aspernatur fuga exercitationem nihil. Repudiandae sapiente sequi, ducimus amet voluptatibus
            maxime facilis repellendus aspernatur natus maiores, tempore dicta esse odit, animi repellat ipsum! Sed odio
            aspernatur reiciendis minima?
            Aspernatur natus facere culpa. Expedita nostrum dolorum, sapiente distinctio iste veniam accusamus vel sint
            porro at pariatur vero officia nemo? Esse maxime laboriosam sit tempora? Ducimus doloribus vero debitis
            officia!
        </p>

        <section class="container">
            <div class="slider__wrapper">
                <div class="slider">
                    <img src="https://kinsta.com/es/wp-content/uploads/sites/8/2022/07/css-best-practices.jpg" alt="" id="slide1">
                    <img src="https://pinguinodigital.com/wp-content/uploads/2020/06/practicas-html-10.jpeg" alt="" id="slide2">
                    <img src="https://kinsta.com/es/wp-content/uploads/sites/8/2023/06/css-image-styling.jpg" alt="" id="slide3">
                </div>
                <div class="slider__nav">
                    <a id="btn1" href="#slide1"></a>
                    <a id="btn2" href="#slide2"></a>
                    <a id="btn3" href="#slide3"></a>
                </div>
            </div>
        </section>

    </div>
</body>
<script>
    var counter = 2;

    setInterval(function () {
        document.getElementById('btn' + counter).click();
        counter++;
        // console.log(counter);
        if (counter == 4) {
            counter = 1;
        }
    }, 5000);
</script>
<!-- Fin contenido principal del modulo "home"-->

{%endblock%}