<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/procesos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <div>
        <div class="container-tareas">
            <h1>Lista de Procesos</h1>
            <h2></h2>
            <div class="search-tareas">
                <form class="Formulario-tareas">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#ModalCrearproceso"
                        class="boton-tareas"> Agregar proceso...</button>
                </form>
            </div>
        </div>

        <!-- Modal 1 Para crear proceso -->
        <div class="modal fade" id="ModalCrearproceso" tabindex="-1" aria-labelledby="ModalCrearproceso"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo proceso.</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Cuerpo del modal donde encontramos el formualrio con los datos del usario -->
                    <div class="modal-body">
                        <form action="/proceso" method="POST">
                            <div class="row mb-3">
                                <label>Titulo: *</label>
                                <input type="text" class="form-control mb-3" name="Titulo" required>

                                <label>Descripción: </label>
                                <input type="text" class="form-control mb-3" name="Descripcion">

                                <label>Fecha de Inicio:</label>
                                <input type="date" class="form-control mb-3" id="fecha" name="fecha_I" readonly>

                                <label>Fecha Limite:</label>
                                <input type="date" class="form-control mb-3" id="fecha" name="fecha_L">

                                <hr>
                                <label>Nivel de importancia: </label>
                                <div class="ContentInputSelect">
                                    <!-- The second value will be selected initially -->
                                    <select name="select" class="InputSelect">
                                        <option value="1" class="Optionselect">Bajo </option>
                                        <option value="2" class="Optionselect">Medio </option>
                                        <option value="3" class="Optionselect">Alto </option>
                                    </select>
                                </div>
                                <hr>
                                <div class="desplagable_1">
                                    <button class="btnAsignar" type="button" data-bs-toggle="dropdown"
                                        aria-expanded="false"><i class="fa-solid fa-user"></i> Asignar
                                        personal...</button>
                                    <ul class="deplegableNombres dropdown-menu">
                                        {% for Usuario in datosU %}
                                        <li class="elementoLista">
                                            <input type="checkbox" class="usuariosSelect" name="usuarios_seleccionados"
                                                value="{{ Usuario.id }}" id="{{Usuario.id}}">
                                            <label for="{{Usuario.id}}" id="AsignarUsu" class="NombreUsuario">
                                                {{Usuario.fullname}}
                                            </label>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <br><br>
                                <div class="modal-footer">
                                    <button type="button" class="secundario btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="principal btn btn-primary">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin modal-1 -->
        <!------------------------------------------------------------------------------------------------------------------------------------>


        <!------------------------------------------------------------------------------------------------------------------------------------>
        <!-- Apartado principal donde se optiene los datos iterados con base a el diccionario renderizado en data-->
        {% for datos in data %}

        <!-- 
        {% if datos.estado_proceso == 1%}
        <div class="contenedorprin">
            <main>
                <section class="section-main-container">
                    <div class="titleC">
                        <i class="icono fa-solid fa-pencil" id="btn-edit{{datos.id_proceso}}" data-bs-toggle="modal"
                            data-bs-target="#modal{{datos.id_proceso}}"></i>
                        <a href="#" class="eliminar" data-id="{{ datos.id_proceso }}"
                            data-url="{{ url_for('delete', idP=datos.id_proceso) }}"><i
                                class="iconoD fa-solid fa-trash"></i></a>

                        <h1 class="titleP">{{datos.Titulo}}</h1>
                    </div>
                    <div class="info-container">
                        <div class="description">
                            <p class="descriptiontext">
                                {{datos.Descripcion}}
                            </p>
                        </div>
                        <div class="nameUser">
                            {% if datos.nombre_usuario %}
                            <button class="btnAsignar2" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">Asignado
                                <i class="fa-regular fa-user"></i>.
                            </button>
                            <ul class="dropdown-menu" id="submenu">
                                {% for usuario in datos.nombre_usuario %}
                                <label id="AsignarUsu" class="UsuariosAsignados">
                                    {{ usuario }}
                                </label>
                                <br>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <p class="Texto-importancia">Ningún usuario asignado
                                <i class="fa-solid fa-user-slash">.</i>
                            </p>
                            {% endif %}
                        </div>
                        <div class="moreInfo">
                            <button class="btnAsignar2" type="button" data-bs-toggle="modal"
                                data-bs-target="#modal-3{{datos.id_proceso}}" aria-expanded="false">Ver más
                                <i class="fa-regular fa-eye"></i>...
                        </div>
                        <div class="important-user">
                            <p class="Texto-importancia">
                                Nivel importancia:
                                {% for nivel in range(datos.Nivel_importancia) %}
                                <i class="fa-regular fa-star"></i>
                                {% endfor %}
                            </p>
                        </div>
                    </div>

                    <div class="div-bottom-container">
                        <div class="hr-container">
                            <progress value="{{datos.progreso}}" min="10" max="100"
                                class="{% if datos.progreso <= 30 %}progress-low{% elif datos.progreso <= 75 %}progress-medium{% else %}progress-high{% endif %}"></progress>
                        </div>
                        <div class="button-right">
                            <button data-bs-toggle="modal" data-bs-target="#modal-4{{datos.id_proceso}}">
                                Generar reporte...</button>
                        </div>
                    </div>
                    <div class="">
                        <p class="numeroid">
                            N° {{datos.id_proceso}}
                        </p>
                    </div>
                </section>
            </main>
        </div>
        {% endif%}
        -->

        <!------------------------------------------------------------------------------------------------------------------------------------>
        <!-- Apartado de posts -->
        <div class="contenedorprin">
            <main>
                <section class="section-main-container">
                    <div class="titleC">
                        <i class="icono fa-solid fa-pencil" id="btn-edit{{datos.id_proceso}}" data-bs-toggle="modal"
                            data-bs-target="#modal{{datos.id_proceso}}"></i>
                        <a href="#" class="eliminar" data-id="{{ datos.id_proceso }}"
                            data-url="{{ url_for('delete', idP=datos.id_proceso) }}"><i
                                class="iconoD fa-solid fa-trash"></i></a>

                        <h1 class="titleP">{{datos.Titulo}}</h1>
                    </div>
                    <div class="info-container">
                        <div class="description">
                            <p class="descriptiontext">
                                {{datos.Descripcion}}
                            </p>
                        </div>
                        <div class="nameUser">
                            {% if datos.nombre_usuario %}
                            <button class="btnAsignar2" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">Asignado
                                <i class="fa-regular fa-user"></i>.
                            </button>
                            <ul class="dropdown-menu" id="submenu">
                                {% for usuario in datos.nombre_usuario %}
                                <label id="AsignarUsu" class="UsuariosAsignados">
                                    {{ usuario }}
                                </label>
                                <br>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <p class="Texto-importancia">Ningún usuario asignado
                                <i class="fa-solid fa-user-slash">.</i>
                            </p>
                            {% endif %}
                        </div>
                        <div class="moreInfo">
                            <button class="btnAsignar2" type="button" data-bs-toggle="modal"
                                data-bs-target="#modal-3{{datos.id_proceso}}" aria-expanded="false">Ver más
                                <i class="fa-regular fa-eye"></i>...
                        </div>
                        <div class="important-user">
                            <p class="Texto-importancia">
                                Nivel importancia:
                                {% for nivel in range(datos.Nivel_importancia) %}
                                <i class="fa-regular fa-star"></i>
                                {% endfor %}
                            </p>
                        </div>
                    </div>

                    <div class="div-bottom-container">
                        <div class="hr-container">
                            <progress value="{{datos.progreso}}" min="10" max="100"
                                class="{% if datos.progreso <= 30 %}progress-low{% elif datos.progreso <= 75 %}progress-medium{% else %}progress-high{% endif %}"></progress>
                        </div>
                        {% if not datos.ReporteGenerado %}
                        <div class="button-right">
                            <button data-bs-toggle="modal" data-bs-target="#modal-4{{datos.id_proceso}}">
                                Generar reporte...</button>
                        </div>
                        {% else %}
                        <div class="button-right">
                            <button>
                                <a href="../static/pdf/{{datos.ReporteGenerado}}"> Ver reporte...</a>
                            </button>
                        </div>
                        {% endif %}
                    </div>
                    <div class="">
                        <p class="numeroid">
                            N° {{datos.id_proceso}}
                        </p>
                    </div>
                </section>
            </main>
        </div>
        <!-- Fin apartado posts -->
        <!------------------------------------------------------------------------------------------------------------------------------------>


        <!-- Modal 2 De vista de los datos del proceso. -->
        <div class="modal fade" id="modal-3{{datos.id_proceso}}" tabindex="-1" aria-labelledby="exampleModalLabel-3"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Encabezado del proceso-->
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">{{datos.Titulo}}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Cuerpo del modal donde encontramos el formualrio con los datos del usario. -->
                    <div class="modal-body">
                        <!-- Descripción del proceso. -->
                        <p class="text-break">
                            {{datos.Descripcion}}
                        </p>
                        <hr>
                        <!-- Periodo de fechas del proceso. -->
                        <p class="text-break">
                            Periodo de fechas del proceso: <br> {{datos.fecha_inicio}} // {{datos.fecha_limite}}
                        </p>
                        <hr>
                        <!-- Apartado donde se observan los días faltantes del proceso. -->
                        {% if datos.diferencia_dias == 0 %}
                        <p>Proceso cerrado por fecha limite.</p>
                            
                        {% elif datos.diferencia_dias > 0 and datos.diferencia_dias < 2 %} 
                        <p>Queda {{datos.diferencia_dias}} día, para terminar el proceso.</p>
                            
                        {% elif datos.diferencia_dias > 1 %}
                        <p>Quedan {{datos.diferencia_dias}} días, para terminar el proceso.</p>
                        {% endif %}
                        <hr>
                        <!-- Estado del proceso actual. -->
                        <p>
                            {% if datos.estado_proceso == 1 %}
                            Proceso abierto.
                            {% elif datos.estado_proceso == 2 %}
                            Proceso cerrado.
                            {% elif datos.estado_proceso == 3 %}
                            Proceso vencido por tiempo.
                            {% endif%}
                        </p>
                        <hr>
                        <!-- Nivel de importancia del proceso actual, representado por la cantidad de estrellas. -->
                        <p>
                            Nivel importancia:
                            {% for nivel in range(datos.Nivel_importancia) %}
                            <i class="fa-regular fa-star"></i>
                            {% endfor %}
                        </p>
                        <hr>
                        <!-- Apartado donde observaremos el pdf en caso de que este ya se haya generado. -->
                        {% if not datos.ReporteGenerado  %}
                            <p>Reporte pendiente.</p>
                        {% else %}
                        <div class="containerViewPdf">
                            <iframe class="view-pdf" src="../static/pdf/{{datos.ReporteGenerado}}"
                                allow="autoplay"></iframe>
                        </div>
                        {% endif %}
                    </div>
                    <!-- Sección de footer del proceso-->
                    <div class="modal-footer">
                        {% if not datos.ReporteGenerado %}
                        <button class="btnReport btn btn-primary btn-sm" id="btn-edit{{datos.id_proceso}}"
                            data-bs-toggle="modal" data-bs-target="#modal-4{{datos.id_proceso}}">Generar Reporte...</button>
                        {% else %}
                        <a class="Areport" href="../static/pdf/{{datos.ReporteGenerado}}" download="nombre_estandar.pdf">Descargar Reporte...</a>
                        {% endif %} 

                        <button class="principal btn btn-primary btn-sm" id="btn-edit{{datos.id_proceso}}"
                            data-bs-toggle="modal" data-bs-target="#modal{{datos.id_proceso}}">Editar
                            proceso</button>
                        <!-- <a href="{{url_for('delete', idP=datos.id_proceso)}}"
                            class="eliminar btn btn-danger btn-sm">Borrar proceso</a> -->
                        <a href="#" class="eliminar btn btn-danger btn-sm" data-id="{{ datos.id_proceso }}"
                            data-url="{{ url_for('delete', idP=datos.id_proceso) }}">Borrar proceso</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin modal-2 -->
        <!------------------------------------------------------------------------------------------------------------------------------------>


        <!-- Modal 3 para editar proceso-->
        <div class="modal fade" id="modal{{datos.id_proceso}}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar proceso.</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/edit/{{datos.id_proceso}}" method="post" id="formularioActualizarP">
                            <!-- Campo para diligenciar el titulo -->
                            <label>Titulo: *</label>
                            <input type="text" class="form-control mb-3" name="Titulo" value="{{datos.Titulo}}"
                                required>
                            <!-- Campo para diligenciar la descripción -->
                            <label for="descripcion">Descripción:</label>
                            <textarea class="form-control" rows="6" type="text" class="form-control mb-3"
                                name="Descripcion">{{datos.Descripcion}}
                            </textarea>
                            <br>
                            <label>Nivel de importancia: </label>
                            <div class="ContentInputSelect">
                                <!-- Boton de selección unilateral -->
                                <select name="selectI" id="" class="InputSelect">
                                    <option value="1" class="Optionselect"{% if datos.Nivel_importancia == 1  %}selected{% endif %}>Bajo  </option>
                                    <option value="2" class="Optionselect"{% if datos.Nivel_importancia == 2  %}selected{% endif %}>Medio </option>
                                    <option value="3" class="Optionselect"{% if datos.Nivel_importancia == 3  %}selected{% endif %}>Alto  </option>
                                </select>
                            </div>
                            <hr>
                            <label>Estado del proceso: </label>
                            <div class="ContentInputSelect">
                                <!-- Boton de selección unilateral -->
                                <select name="selectP" id="SelectLevel" class="InputSelect">
                                    <option value="1" class="Optionselect"{% if datos.estado_proceso == 1  %}selected{% endif %}>Abierto    </option>
                                    <option value="2" class="Optionselect"{% if datos.estado_proceso == 2  %}selected{% endif %}>Finalizado </option>
                                    <option value="3" class="Optionselect"{% if datos.estado_proceso == 3  %}selected{% endif %}>Vencido    </option>
                                </select>
                            </div>
                            <hr>
                            <!-- Campo donde se observar los usuarios asignados -->
                            <label>Personal asignado:</label>
                            <br>
                            {% if datos.nombre_usuario %}
                            <div class="NombreAsignado">
                                {% for usuario in datos.nombre_usuario %}
                                {% if usuario %}
                                <label>
                                    {{ usuario }}
                                </label>
                                <!-- Si usuario es una cadena, entonces aplica split -->
                                {% if usuario is string %}
                                <button type="submit" class="btnEliminarAsignacion" data-id="{{ datos.id_proceso }}"
                                    data-id-asignado="{{ datos.id_usuario[loop.index0] }}">
                                    <i class="iconoX fa-solid fa-xmark"></i>
                                </button>
                                <br>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </div>
                            {% else %}
                            <p>Ningún usuario asignado.</p>
                            {% endif %}
                            <hr>
                            <div class="deplegable_1">
                                <div class="dropdown">
                                    <button class="btnAsignar desplegable-toggle"><i class="fa-solid fa-user"></i>
                                        Actualizar asignados</button>
                                    <ul class="dropdown-menu">
                                        <br>
                                        <!---------------------------------------------------------->
                                        {% for Usuario in datosU %}
                                        {% if Usuario.id not in datos.id_usuario %}
                                        <li class="labelAsignados">
                                            <label>
                                                <input type="checkbox" class="checkbox_nombres"
                                                    name="usuarios_seleccionados_2" value="{{ Usuario.id }}"
                                                    id="{{ Usuario.id }}">
                                                <span class="PersonalAsignados">{{Usuario.fullname}}</span>
                                                <br><br>
                                            </label>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <br>
                            <div class="modal-footer">
                                <button type="button" class="secundario btn btn-secondary"
                                    data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="principal btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin modal-3 -->
        <!------------------------------------------------------------------------------------------------------------------------------------>


        <!-- Modal 4 Generar reporte -->
        <div class="modal fade" id="modal-4{{datos.id_proceso}}" tabindex="-1" aria-labelledby="exampleModalLabel-3"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Generar reporte</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Cuerpo del modal donde encontramos el formualrio con los datos del usario -->
                    <div class="modal-body">
                        <form method="POST" action="/generar_pdf" enctype="multipart/form-data">
                            <label>Titulo:</label>
                            <input type="text" class="form-control mb-3" name="titulo" value="">
                            <label>Descripción:</label>
                            <input type="text" class="form-control mb-3" name="descripcion" value="">
                            <input type="hidden" name="idProceso" value="{{datos.id_proceso}}">
                            <input type="hidden" name="EstadoProceso" value="2">

                            <!-- Botón donde podremos subir el archivo con la foto del perfil -->
                            <div class="mb-3">
                                <label for="formFileSm" class="form-label">Evidencia fotografica:</label>
                                <input class="form-control form-control-sm" id="formFileSm" type="file" name="archivo">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="secundario btn btn-secondary"
                                    data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="principal btn btn-primary">Generar reporte</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin modal-4 -->
        {% endfor %}
    </div>
</body>

<script src="../static/js/procesos.js"></script>
<script src="../static/js/SweetAlerts.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://kit.fontawesome.com/9c61ead5a6.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>

</html>