* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
    color: #322653;
}

.container-tareas {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 30px;
}

.Formulario-tareas {
    display: flex;
    width: 100%;
}

.boton-tareas {
    padding: 15px 10px;
    outline: none;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background-color: rgb(153, 189, 255);
}

.boton-tareas:hover {
    cursor: pointer;
    color: antiquewhite;
    background-color: #16425B;
    font-size: 1.1rem;
}


.li-container-tareas {
    background-color: white;
    width: 100%;
    color: darkslategray;
    margin-top: 20px;
}


li {
    list-style: none;
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
}

li p {
    margin: 0;
    padding: 15px;
    width: 100%;
}

.text-break {
    text-align: justify;
    width: 80%;
}

.dropdown-menu li {
    background-color: rgba(142, 180, 252, 0) !important;
}

.dropdowns-menu {
    width: 99% !important;
    overflow-y: auto;
}

.dropdowns-menu li {
    background-color: rgba(142, 180, 252, 0) !important;
}

#submenu {
    width: 30% !important;
    overflow-y: auto;
}

.NombreUsuario {
    cursor: pointer;
    width: 95%;
    text-align: center;
    border: solid 0.3px;
    border-color: #aca6a6 !important;
    border-radius: 6px;
}

.usuariosSelect[type="checkbox"]:checked+.NombreUsuario {
    cursor: pointer;
    background-color: #82b1e7;
    width: 95%;
    text-align: center;
    color: #f7f7f7;
}

.usuariosSelect {
    opacity: 0;
}

.UsuariosAsignados {
    width: 100%;
    text-align: center;
}

.NombreAsignado {
    border-radius: 10px;
    background-color: #f1faee;
}

.NombreAsignado label {
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 8px;
}



/*------------------------------------------------------------------*/
/* Sección botones*/
/*------------------------------------------------------------------*/
.btnAsignar {
    outline: none;
    height: 2.2rem;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: rgb(12, 0, 17);
    background-color: rgb(153, 189, 255);
}

.btnAsignar:hover {
    font-size: 1.05rem;
    outline: none;
    height: 2.2rem;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(119, 165, 252);
}

.btnAsignar2 {
    margin-top: 0.9rem;
    font-size: 1rem;
    background-color: #F8F6F4;
    border: none;
    width: 100%;
    color: rgb(12, 0, 17);
}

.btnAsignar2:hover {
    margin-top: 0.7rem;
    font-size: 1.1rem;
}

.btnEliminarAsignacion {
    margin-top: 3px;
    margin-right: 10px;
    border: none;
    background: none;
    float: right;
    color: #000814;
    cursor: pointer;
}

.btnEliminarAsignacion:hover {
    color: rgb(70, 7, 31);
}

.eliminar {
    border-color: #900C3F !important;
    background-color: #900C3F !important;
}

.principal {
    color: black !important;
    border-color: #8CABFF !important;
    background-color: #8CABFF !important;
}

.btnReport {
    padding: 4.2px !important;
    color: rgb(0, 0, 0) !important;
    border-color: #ffffff00 !important;
    background-color: #A0E4CB !important;
}

.btnReport:hover {
    padding: 4.2px !important;
    color: rgb(255, 255, 255) !important;
    border-color: #ffffff00 !important;
    background-color: rgb(119, 165, 252) !important;
}

.secundario {
    border-color: #33415c !important;
    background-color: #33415c !important;
}

.custom-button-confirmation-1 {
    background-color: #900C3F !important;
}

.custom-button-cancel-1 {
    background-color: #33415c !important;
}

.custom-icon-class-1 {
    color: #900c3fe1 !important;
    border-color: #900c3fe1 !important;
}

.custom-button-confirmation-2 {
    background-color: #7A316F !important;
    color: #ffffff !important;
}

.custom-icon-class-2 {
    color: #7a316f6c !important;
    border-color: #7a316f6c !important;
}

/*------------------------------------------------------------------*/
/* Fin sección botones*/
/*------------------------------------------------------------------*/


/*------------------------------------------------------------------*/
/* Sección task posts*/
/*------------------------------------------------------------------*/
.contenedorprin {
    display: grid;
    place-items: center;
    margin-bottom: 5rem;
}

main {
    display: grid;
    border-radius: 1.5rem;
    background-color: #C4DFDF;
    width: 70%;
    min-width: 275px;
}

.section-main-container {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, auto);
}

.section-main-container .titleC {
    height: 3rem;
    margin-left: 2rem;
    margin-right: 2.9rem;
    border: none;
}

.Texto-importancia {
    margin-top: 1rem !important;
    text-align: center !important;
}

.section-main-container .titleC .titleP {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
}

.info-container div {
    min-height: 50px;
    margin-right: 3rem;
    margin-left: 2rem;
}

.section-main-container .info-container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.info-container .description {
    grid-row-start: 1;
    grid-row-end: 4;
    margin-top: 1rem;
    border-radius: 5px;
    background-color: #F8F6F4;
    height: 190px;
    overflow: auto;
}

.info-container .description::-webkit-scrollbar {
    width: 6px;
}

.info-container .description::-webkit-scrollbar-thumb {
    background-color: #252b48a2;
    height: 3px;
    border-radius: 5px;
}

.info-container .description .descriptiontext {
    text-align: justify;
    width: 90%;
    font-size: 0.8rem;
}

.info-container .nameUser {
    font-size: 0.8rem;
    background-color: #F8F6F4;
    border-radius: 10px;
    margin-top: 1rem;
}

.info-container p {
    margin: 0rem 1rem 1rem 0.5rem;
    text-align: justify;
    width: 90%;
}

.numeroid {
    font-size: .7rem;
    margin: 0rem 0rem .5rem 2rem;
}

.info-container .moreInfo {
    background-color: #F8F6F4;
    border-radius: 10px;
    margin-top: 1rem;
    font-size: 0.8rem;
}

.info-container .important-user {
    background-color: #F8F6F4;
    border-radius: 10px;
    margin-top: 1rem;
    font-size: 0.8rem;
}

.section-main-container .div-bottom-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 4rem;
}

.div-bottom-container .hr-container {
    position: relative;
    margin-right: 3rem;
    margin-left: 2rem;
}

.div-bottom-container .button-right {
    display: flex;
    align-items: flex-end;
    margin-right: 3rem;
    margin-left: 2rem;
}

.div-bottom-container .button-right button {
    width: 100%;
    height: 50px;
    background-color: #96B6C5;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    margin: 10px auto;
    cursor: pointer;
}

.div-bottom-container .button-right button:hover {
    background-color: #79a3b6;
    font-size: 1.1rem;
}

.icono {
    color: #322653;
    float: right;
    font-size: 1.2rem;
    margin-top: 1.4rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.icono:hover {
    color: #EEF1FF;
}

/*------------------------------------------------------------------*/
/* Fin sección task posts*/
/*------------------------------------------------------------------*/


/*------------------------------------------------------------------*/
/* Sección barra de progreso*/
/*------------------------------------------------------------------*/
progress[value] {
    appearance: none;
}

progress[value]::-webkit-progress-bar {
    overflow: hidden;
    position: absolute;
    top: 50%;
    height: 6px;
    border-radius: 15px;
}

progress[value]::-webkit-progress-value {
    border-radius: 15px;
}

/* Estilo para progreso menor o igual al 30% */
.progress-low::-webkit-progress-value {
    /* background-color: #CBFFA9; */
    /* background-color: #B3C890; */
    /* background-color: #CDE990; */
    /* background-color: #68B984; */
    /* background-color: #A8DF8E; */
    background-color: #CBFFA9;
}

/* Estilo para progreso entre 31% y 70% */
.progress-medium::-webkit-progress-value {
    background-color: #FFE17B;
}

/* Estilo para progreso mayor al 70% */
.progress-high::-webkit-progress-value {
    background-color: #B31312;
}

/*------------------------------------------------------------------*/
/* Fin sección task posts*/
/*------------------------------------------------------------------*/